.counter {
  margin-top: 3rem;

  display: flex;
  justify-content: space-between;
}

.created {
  color: var(--blue);
  font-size: 0.875rem;
  font-weight: 700;
}

.created > span,
.finished > span {
  padding: 0.125rem 0.5rem;
  border-radius: 999px;
  margin-left: 0.5rem;

  color: var(--gray-200);
  background-color: var(--gray-400);
}

.finished {
  color: var(--purple);
  font-size: 0.875rem;
  font-weight: 700;
}
